@media ( 767px < width < 1200px){
  .wrapper{ max-width:96%;}
}

/* pro */
@media ( 991px < width < 1200px){
  .product-box .image-box img{ max-height:240px;}
}

/* mini */
@media ( 767px < width < 992px){
  .banner-sec .category-name h1{ font-size:25px; line-height:30px;}
  .banner-sec .category-name h1::after{ height:5px;}
  .product-listing .product-box{ flex:0 0 48%; margin:0 4% 20px 0;}
  .product-listing .product-box:nth-child(2n+2){ margin-right:0!important;}
  .product-listing .product-box:nth-child(3n+3){ margin-right:2%;}
  .product-box .image-box img{ max-height:250px;}
  footer .description{ width:220px;}
}

@media (width < 768px){
    body.contentoverflow{ overflow: hidden;}
    .wrapper{ max-width:calc(100% - 30px);}
    header{ padding:10px 0;}
    header nav{ position: fixed; right:0; top:0; width:250px; height:100%; background: #fff; z-index: 2; transform: translateX(250px); transition: .5s;}
    header nav.visible{ transform: translateX(0);}
    header nav ul{ flex-direction: column; display: flex;}
    header nav ul li{ margin:0; font-size:14px; border-bottom:0.5px solid #c9c9c9;}
    header nav ul li a{ color:#000; display: block; padding:10px 20px;}
    header .logo{ width:80px;}
    .hamberger-btn{ display:inline-block; width:30px;}
    header.menuoverlay:before{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; content: ''; background: rgba(0,0,0,.5); z-index: 2;}


    .banner-sec{ flex-direction:column-reverse;}
    .banner-sec .category-name{ width:90%; margin-left:5%; height:160px; margin-top:-70px;}
    .banner-sec .category-name h1{ font-size:30px; line-height:40px;}
    .banner-sec .category-name h1::after{ height:5px;}
    .banner-sec .hero-image{ width:100%; margin:0; height:190px; object-fit:cover;}

    .breadcrumb{ margin-bottom:20px;}
    .breadcrumb li{ font-size:13px}

    .product-container{ padding:15px 0 40px;}
    .top-bar .sortby{ width:150px;}

    .filter-sec{ position: fixed; left:0; top:0; width:250px; height:100%; background:#fff; z-index: 2; transform: translateX(-250px); transition: .5s;}
    .filter-sec.visible{ transform: translateX(0);}
    .filter-type{ padding:15px 6%;}
    .filter-sec .heading{ margin:15px 6%;}
    .sidebar .heading{ padding:15px 6%; font-size:16px;}
    
    .search-product{ margin-bottom:10px;}
    .search-product .searchbox{ margin-left:6%; margin-right:6%;}
    .search-product .searchbox .searchinput{ height:22px;}
    .product-section .top-bar{ align-items: center;}
    .product-container .wrapper{ flex-direction: column;}
    .product-listing .product-box{ flex:0 0 48%; margin:0 4% 20px 0;}
    .product-listing .product-box:nth-child(2n+2){ margin-right:0!important;}
    .product-listing .product-box:nth-child(3n+3){ margin-right:2%;}
    .product-box .name{ font-size:13px; line-height:16px;}
    .product-box .image-box img{ max-height:175px;}

    .pagination, .showmore-row{ margin-top: 10px;}
    .showmore-row .show-more-btn{ font-size:13px; padding:7px 12px;}

    footer .wrapper{ flex-direction: column;}
    .top-footer{ padding:25px 0 20px;}
    .top-footer .footer-column{ margin-bottom:20px;}
    .top-footer h3{ margin-bottom:5px;}
    .bottom-footer .wrapper{ flex-direction: column-reverse; align-items: center;}
    .bottom-footer p{ text-align: center; margin:20px 0 30px;}
    .bottom-footer p br{ display: inline-block;}

}
